#boss-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #000;
    z-index: 1000;
    /* Must be above everything */
    display: none;
}

#boss-layer.active {
    display: block;
}